@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>
        Welcome, please
        <a href="@Url.Action("Register", "Account")" class="btn btn-default">Register</a>
    </h3>
</div>
